<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixin.example.mapper.UserMapper">
    <resultMap id="UserMapper" type="com.qixin.example.entity.User">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="birthday" column="birthday" />
        <result property="createTime" column="create_time" />
        <result property="address.id" column="address_id" />

        <result property="address.province" column="province" />
        <result property="address.city" column="city" />
        <result property="address.area" column="area" />
        <result property="address.zipCode" column="zip_code" />
    </resultMap>
    <resultMap id="UserWithAddressResultMapper" type="com.qixin.example.entity.User">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="birthday" column="birthday" />
        <result property="createTime" column="create_time" />
        <association property="address" resultMap="AddressResultMapper"/>
    </resultMap>
    <resultMap id="AddressResultMapper" type="com.qixin.example.entity.Address">
        <id property="id" column="address_id"/>
        <result property="province" column="province" />
        <result property="city" column="city" />
        <result property="area" column="area" />
        <result property="zipCode" column="zip_code" />
    </resultMap>
    <select id="findUsers" resultMap="UserMapper">
        SELECT id,`name`,birthday,create_time FROM `user`
    </select>

    <!-- 一对一映射1:使用点符号和嵌套对象 -->
    <select id="findById" resultMap="UserMapper" parameterType="java.lang.Long">
        SELECT a.`id` AS id,a.`name` AS `name`,a.`address` AS address,a.`birthday` AS birthday,
            a.`create_time` AS createTime,a.`address_id`,b.`province`,b.`city`,b.`area`,b.`zip_code`
        FROM `user` a LEFT JOIN address b ON a.`address_id`=b.`id`
        WHERE a.`id` = ${id}
    </select>
    <select id="findUserWithAddressById" resultMap="UserWithAddressResultMapper" parameterType="java.lang.Long">
        SELECT a.`id` AS id,a.`name` AS `name`,a.`address` AS address,a.`birthday` AS birthday,
            a.`create_time` AS createTime,a.`address_id`,b.`province`,b.`city`,b.`area`,b.`zip_code`
        FROM `user` a LEFT JOIN address b ON a.`address_id`=b.`id`
        WHERE a.`id` = ${id}
    </select>
</mapper>